doctype
html(lang='es')
head
  meta(charset='UTF-8')
  title Mi portafolio
  link(rel="stylesheet" href="stylesheets/main.css")
body
  //-================ variables =================
  -var coleccion = [{titulo: 'dibujo a acuarela', valores: 'acuarela', imgs: 5}, {titulo: 'dibujo con tinta', valores: 'tinta', imgs: 5}, {titulo: 'abecedario', valores: 'abecedario', imgs: 6}, {titulo: 'dragones', valores: 'dragones', imgs: 3}, {titulo: 'la villa de los dulces', valores: 'dulces', imgs: 7}, {titulo: 'retratos a pintura', valores: 'retratos', imgs: 8}, {titulo: 'diseño de revistas', valores: 'revistas', imgs: 5}, {titulo: 'sitios web', valores: 'sitiowww', imgs: 4}, {titulo: 'dibujos de la ciudad', valores: 'city', imgs: 6}, {titulo: 'libros de arte', valores: 'influencia', imgs: 5}, {titulo: 'luz de neon', valores: 'luces', imgs: 5}, {titulo: 'ilustraciones de libros', valores: 'libros', imgs: 5}, {titulo: 'arte flat design', valores: 'flat', imgs: 5}, {titulo: 'rostros psicodelicos', valores: 'rostroscolor', imgs: 5}]

  //-===============variables =======================
  nav#menu-container
    #logo-menu
      img(src='img/logo1.png' alt='logo')
      p#logo-name Mi portafolio
      p#logo-desc Desarrollador web
    ul#menu
      each val in ['Inicio', 'Blog', 'Trabajo', 'Quien soy', 'Contacto']
        li: a(href='#')=val
  //fin menu-container

  #main-container
    section.seccion#seccion-inicio
      #contenido-inicio
        img(src='img/logo2.png' alt='logo inicio')
        p   Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br/><br/>Quis aperiam porro tenetur beatae asperiores eaque magnam numquam distinctio quidem itaque, eius facere, dolorem eum vitae, consequatur unde modi vel sequi.
        .separador
        video(width='380' height='240' controls)
          source(src='vdo/HTML5 - Article.mp4' type='video/mp4')
          | Su explorador no soporta este formato de video.
    //fin seccion-inicio

    section.seccion#seccion-blog
      h2 Blog
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni ut, hic inventore alias porro repudiandae, laudantium praesentium in sit labore, magnam perspiciatis omnis ea voluptatum rem similique debitis minus unde!
    //fin seccion-blog

    section.seccion#seccion-trabajo
      h2 Trabajo
      #slider-miniatura
        -var i = 1
        while i < 7
          img(src='img/slide0' + i + '.jpg', alt='slide0' + i++)
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quos consectetur id maxime ullam dolorem nobis dicta minus delectus. Ad, natus quam error autem? Veniam, ipsa id dolor ad incidunt!
      .separador
      #trabajos-container
        each val, index in coleccion
          a(href = coleccion[index].valores)
            .trabajo(class = coleccion[index].valores)
              p.titulo=coleccion[index].titulo
      //fin de trabajos-container

      #colecciones-container
        each col, index in coleccion
          .coleccion-container
            .galeria(id=coleccion[index].valores)
              -var i = coleccion[index].imgs
              -var img = 0
              while img++ < i
                img(src='img/trabajo/coleccion'+(index+1)+'-'+img+'.jpg' width='400' alt='coleccion'+(index+1)+'-'+img)
            //fin de galeria
            .descripcion
              h3=coleccion[index].titulo
              p aquii Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ad beatae ducimus aliquid dolore. Repellat obcaecati dolorem quidem sequi sed esse dolor dignissimos deleniti nostrum vel! Mollitia culpa, qui distinctio.
              .controles
                a.anterior(href='#') Anterior
                a.siguiente(href='#') Siguiente
              .cerrar
                a(href='#') Cerrar
            // fin de descripcion
          //fin de coleccion-container

      //fin de colecciones-container

    //fin seccion-trabajo
    section.seccion#seccion-quiensoy
      h2 Quien Soy
      #foto-autor
        img(src="img/profile.jpg" alt='foto autor')
        #descripcion-inicial
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore recusandae, corporis veniam ex similique magnam, consectetur adipisicing elit.
      .separador
      #acordeon-container
        each curriculum,index in [{titulo:'Estudios', contenido:'<img src="img/escuela.jpg" width="100%" alt=""><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quasi culpa officiis esse eos magnam nesciunt aperiam, iusto tenetur, quas harum ducimus est odio, eligendi natus, doloribus tempore qui architecto.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur magni dolor consectetur culpa optio! Quibusdam a amet illum consectetur libero, ut alias ab dolores consequuntur, harum debitis recusandae assumenda. Odit.</p>'}, {titulo:'Experiencia profesional', contenido:"<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ex ipsum itaque ipsa, praesentium quia pariatur esse. Ex cumque eius maxime nulla vitae at recusandae, inventore, saepe nisi vel omnis.</p><p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>"}, {titulo: 'Clientes frecuentes', contenido:'<p>Quae ea distinctio animi debitis quod voluptatibus minima doloribus, alias perspiciatis quam quasi vel asperiores! Dicta, perferendis architecto laudantium illum cum earum.</p><ul><li>Sabritas</li><li>Nike</li><li>Apple</li><li>Gobierno del Estado</li><li>TV Azteca</li><li>Google</li><li>SHCP</li><li>TEC Milenium</li></ul>'}, {titulo:'Reconocimientos', contenido:'<p>Facilis quaerat sit maiores fuga ratione minima eveniet, iure inventore, ullam molestias omnis totam animi et atque vero. Accusamus distinctio, modi dolorem.</p><p>Ipsum asperiores, temporibus numquam explicabo alias maxime repellendus quos. At aperiam temporibus, quis ipsum eius, inventore qui maiores non obcaecati dignissimos perferendis.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero esse aperiam ab laborum porro consequuntur fuga delectus iste optio, vel perferendis voluptatum, natus quos dicta a, aut blanditiis. Nostrum.</p>'}]
          .tab
            .titulo #{curriculum.titulo}
            .contenido !{curriculum.contenido}

        // fin de acordeon-container
    //fin seccion-quiensoy
    section.seccion#seccion-contacto
      h2 Contacto
    //fin seccion-contacto

  //fin de main-container

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript')
  script(type='text/javascript').
    if(typeof jQuery==='undefined'){document.write(unescape("<scri"+"pt src='js/jquery-2.1.1.min.js'type='text/javascript'></scri"+"pt>"));}
  //script(src='scripts/main.js' type='text/javascript')
  script(src='scripts/jquery.slider.js' type='text/javascript')
  script(src='scripts/galeria.js' type='text/javascript')
  script(src='scripts/jquery.slider.js' type='text/javascript')
  script(src='scripts/jquery.acordeon.js' type='text/javascript')
  script.
    $(document).on('ready', function(){
      $('#slider-miniatura').slider({time:10000});
      $('#acordeon-container').acordeon;
    });

// fin de body
